html, body, #root {
  &:has(>section.authentication-section-container) {
    @media (max-width: 768px) {
      & {
        background-color: var(--surface1) !important;
      }

      section.authentication-section-container form {
        width: 100% !important;
        border-radius: 0 !important;
        padding: 2.5rem 1.5rem !important;
      }
    }
  }
}

section.authentication-section-container {
  padding: 0 2rem;
  flex: 1;
  display: flex;
  justify-content: center;

  form {
    background-color: var(--surface1);
    max-width: 700px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem 3rem;
    gap: 1.5rem;

    h2 {
      text-align: center;
    }

    p.description {
      text-align: center;
      color: var(--text2);
      width: 90%;
      margin: 0 auto;
    }

    p.register {
      color: var(--text2);
      text-align: center;
      font-size: 0.9rem;

      a, div.link {
        color: var(--brand);
        transition: filter 0.2s ease-in-out;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          filter: brightness(1.4);
        }
      }
    }
  }

}