* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--text1);
}

html, body, #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--surface0);

  /* Desktop */
  font-size: 18px;
}

/* Tablet */
@media (max-width: 1024px) {
  html, body, #root {
    font-size: 16px;
  }
}

/* Big mobile */
@media (max-width: 768px) {
  html, body, #root {
    font-size: 14px;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  html, body, #root {
    font-size: 12px;
  }
}