section.modal-list-container-component-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 99999;

  article.modal-component-item-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    div.modal-component-item-card {
      position: absolute;
      top: 50%;
      left: 50%;
      background: var(--surface1);
      border-radius: 1rem;
      overflow: hidden;
      max-height: 90dvh;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--surface3) var(--surface1);

      &:not(:has(> header.alert-header)) {
        padding: 1rem 1.5rem;
      }

      button.modal-component-item-close-btn {
        background: var(--surface3);
        color: var(--text1);
        border-radius: 100%;
        position: fixed;
        border: none;
        top: 1rem;
        right: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.1rem;
        cursor: pointer;

        img.icon {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}