article.course-card {
  display: flex;
  flex-direction: column;
  background-color: var(--surface2);
  border-radius: 1rem;
  overflow: hidden;
  gap: 0.5rem;
  border: 2px solid var(--border);
  transition: border-color 0.2s ease;
  cursor: pointer;

  &:hover {
    border-color: var(--brand);
  }

  img.course-image {
    width: 100%;
    aspect-ratio: 16 / 5;
    object-fit: cover;
    background-color: var(--brand1);
    border: none;
    user-select: none;
  }

  div.course-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;

    div.description-container {
      display: flex;
      align-items: center;

      div.left-side {
        flex: 1;
        display: flex;
        flex-direction: column;

        * {
          color: var(--text3);
        }

        .lessons {
          font-style: italic;
        }

      }

      span.rating {
        display: flex;
        align-items: center;
        gap: 0.15rem;
        font-size: 0.875rem;
        color: var(--text2);

        .icon {
          user-select: none;
          width: 1.2rem;
          height: 1.2rem;
          filter: brightness(0) saturate(100%) invert(79%) sepia(70%) saturate(1512%) hue-rotate(360deg) brightness(104%) contrast(104%);
        }
      }
    }
  }
}