@import '../Login/login.scss';

section.authentication-section-container {
  form {
    .message {
      padding: 1rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      font-size: 0.9rem;
      
      span {
        font-size: 1.25rem;
      }

      &.success {
        background-color: var(--success-surface);
        color: var(--success-text);
        border: 1px solid var(--success);

        span {
          filter: var(--success-text-filter);
        }
      }

      &.error {
        background-color: var(--error-surface);
        color: var(--error-text);
        border: 1px solid var(--error);

        span {
          filter: var(--error-text-filter);
        }
      }
    }
  }
}
