@use "@/styles/media.scss" as media;

section.course-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 2rem;
  margin-top: 1.5rem;

  @include media.media-mobile {
    grid-template-columns: 1fr;
  }
}