header.course-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--border);

  h2.course-title {
    font-size: 2rem;
    font-weight: bold;
  }

  section.course-professor {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .professor-avatar {
      width: 2rem;
    }

    span.professor-name {
      font-size: 1rem;
      color: var(--text3);
    }
  }
}

section.lesson-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  article.lesson-item {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 2px solid var(--border);
    background-color: var(--surface2);
    display: flex;

    div.left-side {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      h4 {
        font-size: 1.2rem;
        font-weight: bold;
      }

      span {
        font-size: 0.9rem;
        color: var(--text3);
      }
    }
  }
}