input.input-component {
  background-color: var(--surface2);
  color: var(--text1);
  border: 0.15rem solid var(--surface4);
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  outline: none;
  font-size: 0.8rem;

  &:focus {
    border-color: var(--brand);
  }

  &:disabled {
    background-color: var(--surface3);
    cursor: not-allowed;
  }

  &::file-selector-button {
    background-color: var(--brand0);
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;

    &:hover {
      filter: brightness(1.5);
    }
  }
}

label:has(+ input.input-component:required)::after,
label:has(+ div.input-password-component > input.input-component:required)::after {
  content: " *";
  color: var(--error);
}

div.input-password-component > button.password-toggle-btn {
  padding: 0.5rem 0.6rem;
}

div.input:has(input.input-component),
div.input:has(div.input-password-component) {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  label {
    font-weight: bold;
    font-size: 0.9rem;
  }
}

div.input-password-component {
  display: flex;
  gap: 0.4rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--surface2) inset !important;
}